.user{
    display: flex;
    width: 400px;
    height: 200px;
    background-color: #EEE9DA;
}

.image-container{
    flex: 1;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.user-body{
    flex:1;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 8px;
}

.user-body .name{
    font-size: 32px;
    font-weight: bold;
}

.user-body .profile{
    background-color: #93BFCF;
    padding: 4px;
    text-align: center;
    transition: all 0.2s ease-in;
}

.user-body .profile:hover{
    background-color: #6096B4;
}
